<style type="text/css">
	.bPageBlockwithoutlines {
    border-top:0px;
    margin-bottom:0px;
    padding-bottom:0px;
    }
    
    .bPageBlock .pbBodyNoMarginRight {
    margin-right:0;
    border-top:0px;
    margin-bottom:0px;
    padding-bottom:0px;
    }
    
    .bPageBlock .pbFooterNoImage {
    height:0px;
    width:0px;
    }
	
    .toHideHeader{
    display:none !important;
    }
 </style>